[mysqld]
innodb_stats_on_metadata = 0
innodb_file_format = Barracuda
innodb_file_per_table = 1
innodb_large_prefix=1
innodb_buffer_pool_size = 2GB
innodb_log_buffer_size = 4M
innodb_log_file_size = 128M
innodb_fast_shutdown = 1

read_buffer_size = 192K
read_rnd_buffer_size = 192K
sort_buffer_size = 192K
join_buffer_size = 192K

key_buffer_size = 16M

max_allowed_packet = 64M
tmp_table_size = 64M
max_heap_table_size = 64M

max_connections = 600

table_open_cache = 10000

sql-mode = "TRADITIONAL"
secure-file-priv = ""
federated

query_cache_type=off
query_cache_size=0